<style>
  .page-search{
    margin: 100px 0;
  }

  .page-search h2{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 40px;
  }

  .search-form__control{
    background-color: rgb(255, 255, 255);
  }

  .page-search__search .nav-form{
    width: 70%;
    
  }

  .nav-form::before,
  .nav-form::after{
    display: none;
  }
  


</style>

<div class="page-search">
  <h2>Search results</h2>
  <div class="page-search__search">
    <form class="nav-form" action="{{ routes.search_url }}">
      <input class="search-form__control" placeholder="Search product..." type="search" name="q" value="{{ search.terms | escape }}">

      <button class="search-form__btn" type="submit" value="">search</button>
    </form>
  </div>
</div>