
<style>
  .password__footer {
    font-size: 2rem;
    margin-top: 30px;
  }

  .tl {
    text-align:center;
  }

</style>
  
  <div class="password__footer">
    <div class="container tl">
      This shop will be powered by 
      <a href="https://www.shopify.com/">
        Shopify
      </a>

    </div>
  </div>
