
<style>

  .password-header__using {
    font-size: 2rem;
    cursor: pointer;
  }

  .password-header {
    padding: 20px 0;
  }

  .password-modal__heading {
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 60px;
  }

  .password-modal__wrap {
    margin: auto;
  }

  .password-modal {
    background: rgb(255, 255, 255);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    display: flex;
  }

  .password-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .password-field {
    margin-right: 25px;
  }

  .field__input {
    padding: 18px;
  }

  .password__footer-text {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 40px;
    display: block;
  }

  .btn-password {
    border: 1px solid #595959;
    padding: 16px 20px;
    color: #ffffff;
    font-size: 2.2rem;
    background: #000;
  }

  .password-modal__close {
    font-size: 4rem;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .field__input {
    border: 2px solid #000;
  }

  #PasswordLoginForm-password-error {
    position: absolute;
    top: 69px;
    font-size: 1.4rem;
  }


</style>


<div class=" container " style="position: relative;">
  <div class="password-header dfs">
    <h1 class="password-header__heading">
      {{ shop.name }}
    </h1>
    <label for="password" class="password-header__using">
      Enter using password
    </label>

  </div>

  <div class="password-modal">

    <div class="password-modal__wrap">

      <i class="bi bi-x password-modal__close"></i>
  
      <div class="password-modal__heading">Enter store using password:</div>
        {%- form 'storefront_password', class: 'password-form' -%}
          <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
            <input
              type="password"
              name="password"
              id="password"
              class="field__input"
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
              placeholder=" Your password"
            >
  
            {%- if form.errors -%}
              <div id="PasswordLoginForm-password-error" role="status">
                <span class="form__message"> Password incorrect</span>
              </div>
            {%- endif -%}
          </div>
  
          <button name="commit" class="btn btn-password">
            Enter
          </button>
  
        {%- endform -%}
  
        <small class="password__footer-text">Are you the store owner? Log in here</small>

    </div>
  </div>

</div>

<script>
  const openPass = document.querySelector('.password-header__using');
  const formPass = document.querySelector('.password-modal');
  const closeForm = document.querySelector('.password-modal__close')

  openPass.onclick = function(){
    formPass.style.display = 'flex';
  }

  closeForm.onclick = function(){
    formPass.style.display = 'none';

  }

  
</script>

