
@media (max-width: 767px) {

  .collection__options-item button {
    margin-left: 0px;
  }


  .collection__sort span {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .category__info-name {
    margin-top: 40px;
  }

    .sub-nav {
        padding-top: 40px;
        flex-wrap: wrap;
    }

    .shop-heading {
        padding-top: 40px;
    }

    .shop-text {
        padding-bottom: 40px;
    }

    .amout-product {
        margin-left: 0;
        flex: 1 0 100%;
    }
    
    .filter {
        margin: 0;
    }

    .filter,
    .product-sort { 
        font-size: 14px;
        line-height: 17px;
    }

    .sub-nav__right {
        flex: 1;
    }

    .feature-img .feature-img__contain  {
      width: 100%;
      height: 165px;
    }

    .mb-40 {
        margin-bottom: 40px;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .product-category--row {
        margin: 0;
    }

    .shop-featured {
        margin-top: 40px;
        margin-bottom: 0;
    }
}
/* tablet */

@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* tab-mobile */

@media (max-width: 1023px) {

    
}

/* pc */

@media (min-width: 1024px) {
    
}

/* pc resolution */

@media (min-width: 1024px) and (max-width: 1362px) {
    

    
}