
@media (max-width: 767px) {
    .title-product {
        margin: 40px 0 30px;
    }

    .title-product--text {
        margin-top: 20px;
    }
    
    .product-sologan {
        margin-top: 20px;
    }

    .sologan-text {
        padding: 70px 0;
    }

    .sologan-heading {
        margin-bottom: 15px;
    }

    .cleaning-tool {
        padding: 40px 0;
    }

    .order-mb-2 {
        order: 2;
    }

    .order-mb-1 {
        order: 1;
    }
}

/* tablet */

@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* tab-mobile */

@media (max-width: 1023px) {
    .mb-20 {
        margin-bottom: 20px;
    }
    
}

/* pc */

@media (min-width: 1024px) {
    
}

/* pc resolution */

@media (min-width: 1024px) and (max-width: 1362px) {
    .product-box {
        padding: 40px 23px 40px;
       
    }

    
}